.header-component header {
    max-width: 1536px !important;
    padding-right: 30px;
    padding-left: 30px;
    height: 90px;


}

  
.header-component {
    position: sticky;
    top: 0;
    z-index: 40;
    /* margin-bottom: 15px; */
}
/* header svg {
    width: 26px;
    height: 26px;
} */

ul.dropdown-content {
    position: absolute;
}
 
.navmenu ul.menu > li > a,
.navmenu ul.menu li summary {
    padding: 5px 15px;
    font-size: 16px;
}
button.btn__menu.inline-flex.items-center {
    font-size: 18px;
    font-weight: 500;
}
.dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdowns.services_drop:hover .dropdown-menus {
    display: block;
  }
 

ul.dropdown-menu li a, ul.dropdown-menus li a {
    font-size: 16px;
    padding: 5px 0px;
}
.logo_LabX{
    width: auto;
}
.social__icon, .showmobile {
    display: none;
}
._header_links a
{
    font-size: 18px !important;
    font-family: 500;
}
@media only screen and (max-width: 	1023px) {
    .logo_LabX{
        width: auto;
        position: relative;
      

    }
    .cardicon{
        position: absolute !important;
          right: 15px !important;
    }
    
    .showmobile {
        display: block !important;
    }
    .social__icon {
        display: flex !important;
        gap: 10px;
        margin-top: 2rem;
    }

    ul.dropdown-menus.absolute.hidden.text-white.pt-1, ul.dropdown-menu.absolute.hidden.text-white.pt-1 {
        z-index: 999;
        position: relative;
    }
    li.block.px-4.py-2.hover\:bg-gray-800 {
        padding: 0 10px;
    }
    .block.lg\:flex.flex-grow.justify-center {
        position: absolute;
        left: 0;
        background: var(--primary);
        top: 68px;
        padding: 15px;
        width: 100%;
        height: 100vh;
        overflow: auto;
        z-index: 999;

    }
    .navmenu ul.menu > li > a, .navmenu ul.menu li summary {
        padding: 5px 5px;
        font-size: 15px;
    }
    ul.menu.menu-horizontal.px-1.flex li {
        margin-bottom: 6px;
    }
ul.menu.menu-horizontal.px-1.flex {
    display: block;
}
}
@media only screen and (max-width: 	640px) {
    .header-component header {
        padding-right: 15px;
        padding-left: 15px;
        height: 70px;
    }

}

@media only screen and (max-width: 767px) {
    .logo_LabX {
        width: auto;
        position: absolute;
        transform: translate(167%, -50%);
    }
}